In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#df = pd.read_excel('/content/gdrive/My Drive/Collective/All-Time Webinar Registrants.xlsx')

In [ ]:
#display(df[0:10])

In [ ]:
df_tax = pd.read_csv('/content/gdrive/My Drive/Collective/tax_calculator_entries_2022-01-28T23_04_26.012Z.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (11,12,13,18,26,27,29,55,56,57,58,59,60,65) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_tax.head(10)

       ID  ...                                         Tc All Ref
0  100089  ...                                         ?undefined
1  100088  ...  ?utm_adgroup=s_corp&placement=&device=m&utm_so...
2  100087  ...  ?utm_source=Collective&utm_medium=blog&utm_cam...
3  100086  ...  ?utm_source=tiktok&utm_medium=ads&utm_campaign...
4  100085  ...  ?utm_adgroup=&placement=&device=m&utm_source=g...
5  100084  ...  ?ad_id=23850008820660579&adset_id=238498680163...
6  100083  ...                                         ?undefined
7  100082  ...                                         ?undefined
8  100081  ...  ?utm_source=tiktok&utm_medium=ads&utm_campaign...
9  100080  ...  ?ad_id=23850009085030579&adset_id=238498671944...

[10 rows x 67 columns]

In [ ]:
date_list = []
for day in df_tax["Created"].str.split("T"):
  date_list.append(day[0])

In [ ]:
df_tax["Date"]= date_list

In [ ]:
df_tax["Date"].unique()

array(['2022-01-28', '2022-01-27', '2022-01-26', ..., '2018-11-22',
       '2018-11-21', '2018-11-20'], dtype=object)

In [ ]:
w=df_tax.Revenue.astype(float)
w[w<250]

ValueError: ignored

In [ ]:
df_tax.drop(df_tax[df_tax['Revenue'] == "---"].index, inplace = True)

In [ ]:
df_tax.drop(df_tax[df_tax['Revenue'] == "'"].index, inplace = True)

In [ ]:
df_tax.drop(df_tax[df_tax['Revenue'] == 'nan'].index, inplace = True)

In [ ]:
df_tax.drop(df_tax[df_tax['Revenue'] == 'string'].index, inplace = True)

In [ ]:
list_ =[]
for index,row in df_tax.iterrows():
  try: float(row["Revenue"])
    
  except: list_.append(row["Revenue"])

In [ ]:
set(list_)

{'$0',
 '$00',
 '$00,006',
 '$000,000,000',
 '$099,999',
 '$1',
 '$1,000',
 '$1,000,000',
 '$1,000,000,000',
 '$1,050',
 '$1,100,000',
 '$1,120,000',
 '$1,200',
 '$1,200,000',
 '$1,231,231',
 '$1,241,841',
 '$1,250',
 '$1,250,000',
 '$1,300,000',
 '$1,332',
 '$1,340',
 '$1,341,050',
 '$1,379',
 '$1,389,163',
 '$1,395,000',
 '$1,400',
 '$1,400,000',
 '$1,500',
 '$1,500,000',
 '$1,570',
 '$1,591',
 '$1,600,000',
 '$1,650,000',
 '$1,681',
 '$1,700,000',
 '$1,701',
 '$1,750,000',
 '$1,800',
 '$1,800,000',
 '$1,924,000',
 '$1,999,999',
 '$10',
 '$10,000',
 '$10,000,000',
 '$10,015',
 '$10,201',
 '$10,230',
 '$10,332',
 '$10,400',
 '$10,500',
 '$10,800',
 '$10,923',
 '$100',
 '$100,000',
 '$100,009',
 '$100,010',
 '$100,200',
 '$100,250',
 '$100,800',
 '$101,000',
 '$102,000',
 '$102,222',
 '$102,500',
 '$102,600',
 '$103,000',
 '$103,100',
 '$104,000',
 '$105,000',
 '$105,762',
 '$106,000',
 '$106,500',
 '$107,000',
 '$107,213',
 '$108,000',
 '$109,000',
 '$11,000',
 '$11,111,111,111,111',
 '$11,217',
 '$11,222',
 '$11,315',
 '$11,493',
 '$11,642',
 '$11,660',
 '$11,694',
 '$110',
 '$110,000',
 '$110,111',
 '$111,000',
 '$111,111',
 '$111,500',
 '$111,800',
 '$112,000',
 '$112,212',
 '$112,500',
 '$113,000',
 '$114,000',
 '$114,300',
 '$114,560',
 '$115,000',
 '$115,200',
 '$115,488',
 '$116,000',
 '$116,191',
 '$117,000',
 '$119,000',
 '$119,500',
 '$119,970',
 '$12',
 '$12,000',
 '$12,000,000',
 '$12,110',
 '$12,111',
 '$12,312',
 '$12,400',
 '$12,469',
 '$12,500',
 '$12,659',
 '$12,675',
 '$12,800',
 '$12,900',
 '$120',
 '$120,000',
 '$120,009',
 '$120,960',
 '$120,990',
 '$120,999',
 '$122,000',
 '$122,009',
 '$122,500',
 '$122,750',
 '$123',
 '$123,000',
 '$123,123,123',
 '$123,213',
 '$123,223',
 '$123,456',
 '$124',
 '$124,000',
 '$124,251',
 '$124,800',
 '$124,909',
 '$125,000',
 '$125,117',
 '$125,560',
 '$125,934',
 '$125,999',
 '$126,000',
 '$126,459',
 '$126,615',
 '$126,667',
 '$128,000',
 '$128,960',
 '$129,000',
 '$13,000',
 '$13,005',
 '$13,200',
 '$13,320',
 '$13,700',
 '$130,000',
 '$131,000',
 '$131,231,231',
 '$132,000',
 '$133,000',
 '$133,333',
 '$134,000',
 '$134,400',
 '$134,510',
 '$134,980',
 '$135,000',
 '$135,200',
 '$135,360',
 '$136,000',
 '$137,500',
 '$138,000',
 '$139,000',
 '$14',
 '$14,000',
 '$14,000,000',
 '$14,000,110,000',
 '$14,150',
 '$14,400',
 '$14,500',
 '$14,576',
 '$14,698',
 '$140,000',
 '$140,099',
 '$141,000',
 '$141,400',
 '$141,440',
 '$142,000',
 '$143,000',
 '$144,000',
 '$144,300',
 '$145,000',
 '$147,000',
 '$147,500',
 '$147,688',
 '$148,000',
 '$149,000',
 '$149,420',
 '$149,999',
 '$15,000',
 '$15,227',
 '$15,400',
 '$15,500',
 '$15,565',
 '$15,600',
 '$15,800',
 '$150',
 '$150,000',
 '$151,000',
 '$153,300',
 '$154,000',
 '$155,000',
 '$155,320',
 '$155,566',
 '$156,000',
 '$156,789',
 '$157,267',
 '$158,000',
 '$158,177',
 '$159,000',
 '$16,000',
 '$16,000,000',
 '$16,070',
 '$16,300',
 '$16,800',
 '$160,000',
 '$160,999',
 '$161,280',
 '$162,000',
 '$164,000',
 '$165,000',
 '$165,500',
 '$165,900',
 '$166,000',
 '$166,666',
 '$167,000',
 '$167,343',
 '$167,500',
 '$168,000',
 '$168,047',
 '$168,547,880',
 '$169,000',
 '$17,000',
 '$17,100',
 '$17,180',
 '$17,200',
 '$17,500',
 '$17,505',
 '$17,800',
 '$170,000',
 '$172,000',
 '$173,000',
 '$173,157',
 '$174,000',
 '$175,000',
 '$176,000',
 '$177,000',
 '$178,000',
 '$179,000',
 '$18,000',
 '$18,200',
 '$18,448',
 '$18,500',
 '$18,800',
 '$180,000',
 '$181,000',
 '$182,000',
 '$183',
 '$185,000',
 '$186,000',
 '$187,000',
 '$187,200',
 '$187,253',
 '$187,500',
 '$188,000',
 '$189,000',
 '$19,000',
 '$19,200',
 '$19,500',
 '$19,670',
 '$190,000',
 '$192,000',
 '$193,000',
 '$193,440',
 '$194,000',
 '$195,000',
 '$195,390',
 '$196,000',
 '$196,822',
 '$198,000',
 '$198,900',
 '$199,000',
 '$199,845',
 '$2',
 '$2,000',
 '$2,000,000',
 '$2,019',
 '$2,056,542',
 '$2,087',
 '$2,146',
 '$2,200',
 '$2,200,000',
 '$2,300',
 '$2,300,000',
 '$2,333,333',
 '$2,340',
 '$2,345,234',
 '$2,349,864',
 '$2,421,000',
 '$2,500',
 '$2,500,000',
 '$2,600',
 '$2,700,000',
 '$2,700,027,000',
 '$2,800',
 '$2,800,000',
 '$2,900',
 '$20,000',
 '$20,000,000',
 '$20,099',
 '$20,400',
 '$20,500',
 '$20,678',
 '$20,680',
 '$20,800',
 '$200',
 '$200,000',
 '$200,001',
 '$200,009',
 '$200,800',
 '$201,000',
 '$203,000',
 '$204,000',
 '$205,000',
 '$206,000',
 '$208,000',
 '$209,000',
 '$209,700',
 '$21,000',
 '$21,044',
 '$21,500',
 '$21,600',
 '$21,815',
 '$210,000',
 '$210,100',
 '$211,000',
 '$212,000',
 '$213,000',
 '$215,000',
 '$216,000',
 '$22,000',
 '$22,040',
 '$22,124',
 '$22,135',
 '$22,200',
 '$22,222',
 '$22,345',
 '$22,500',
 '$22,503',
 '$220,000',
 '$221,000',
 '$222,000',
 '$222,222',
 '$222,222,222',
 '$225,000',
 '$23,000',
 '$23,220',
 '$23,300',
 '$23,327',
 '$23,400',
 '$23,568',
 '$23,600',
 '$23,700',
 '$230,000',
 '$230,400',
 '$234,000',
 '$234,234',
 '$235,000',
 '$238,000',
 '$239,200',
 '$24,000',
 '$24,061',
 '$24,115',
 '$24,222',
 '$24,400',
 '$24,500',
 '$24,600',
 '$24,750',
 '$240,000',
 '$243,000',
 '$245,000',
 '$246,000',
 '$249,000',
 '$249,500',
 '$249,600',
 '$25,000',
 '$25,200',
 '$25,400',
 '$25,430',
 '$25,500',
 '$25,688',
 '$25,950',
 '$25,997,605',
 '$250',
 '$250,000',
 '$250,009',
 '$254,000',
 '$255,000',
 '$255,522',
 '$256,000',
 '$259,000',
 '$26,000',
 '$26,322',
 '$26,500',
 '$26,666',
 '$26,880',
 '$260,000',
 '$265,000',
 '$266,000',
 '$267,000',
 '$27,000',
 '$27,100',
 '$27,500',
 '$27,800',
 '$27,880',
 '$270,000',
 '$273,000',
 '$274,000',
 '$275,000',
 '$277,061',
 '$28,000',
 '$28,007',
 '$28,500',
 '$28,600',
 '$28,688',
 '$28,800',
 '$280,000',
 '$282,000',
 '$282,080',
 '$284,000',
 '$285,000',
 '$285,550',
 '$286,000',
 '$287,000',
 '$288,000',
 '$289,000',
 '$29,000',
 '$29,035',
 '$29,201',
 '$29,292',
 '$29,900',
 '$290,000',
 '$292,000',
 '$295,000',
 '$298,000',
 '$3,000',
 '$3,000,000',
 '$3,069',
 '$3,150',
 '$3,400',
 '$3,400,000',
 '$3,500',
 '$3,500,000',
 '$3,550',
 '$3,600',
 '$3,600,000',
 '$3,700',
 '$3,800,000',
 '$3,803',
 '$30',
 '$30,000',
 '$30,009',
 '$30,240',
 '$30,495',
 '$30,506',
 '$30,627',
 '$300',
 '$300,000',
 '$300,003',
 '$305,000',
 '$31,000',
 '$31,123',
 '$31,200',
 '$31,850',
 '$310',
 '$310,000',
 '$312,000',
 '$313,000',
 '$314,639',
 '$315,000',
 '$32,000',
 '$32,300',
 '$32,400',
 '$32,579',
 '$32,640',
 '$32,645',
 '$320,000',
 '$324,000',
 '$324,234',
 '$324,937',
 '$325,000',
 '$329,000',
 '$33',
 '$33,000',
 '$33,400',
 '$33,500',
 '$33,600',
 '$330,000',
 '$334,100',
 '$34,000',
 '$34,200',
 '$34,841',
 '$340,000',
 '$343,325',
 '$344,444',
 '$345,000',
 '$346,666',
 '$35',
 '$35,000',
 '$35,019',
 '$35,040',
 '$35,384',
 '$350',
 '$350,000',
 '$350,539',
 '$351,000',
 '$353,000',
 '$355,000',
 '$36,000',
 '$36,400',
 '$36,500',
 '$360,000',
 '$361,000',
 '$365,000',
 '$37,000',
 '$37,180',
 '$37,200',
 '$37,500',
 '$370,000',
 '$372,000',
 '$374,400',
 '$375,000',
 '$376,000',
 '$38,000',
 '$38,264',
 '$38,400',
 '$38,500',
 '$38,862',
 '$380,000',
 '$380,598',
 '$385,000',
 '$386',
 '$39,000',
 '$39,125',
 '$39,316',
 '$39,600',
 '$390,000',
 '$395,000',
 '$396,000',
 '$4',
 '$4,000',
 '$4,000,000',
 '$4,099',
 '$4,100',
 '$4,225',
 '$4,300',
 '$4,444,544',
 '$4,500',
 '$4,500,000',
 '$4,540',
 '$4,566,666',
 '$4,567',
 '$4,715',
 '$4,750',
 '$4,800',
 '$40',
 '$40,000',
 '$40,100',
 '$40,235',
 '$40,419',
 '$40,500',
 '$40,800',
 '$400',
 '$400,000',
 '$404,000',
 '$41,000',
 '$41,180',
 '$41,850',
 '$41,875',
 '$410,000',
 '$413,000',
 '$42,000',
 '$42,120',
 '$42,144',
 '$42,500',
 '$42,600',
 '$420,000',
 '$421,000',
 '$422,442',
 '$423,000',
 '$425,000',
 '$43,000',
 '$43,899',
 '$430,000',
 '$432,432,432',
 '$435',
 '$435,000',
 '$44,000',
 '$44,160',
 '$44,632',
 '$440',
 '$45',
 '$45,000',
 '$45,330',
 '$45,500',
 '$45,600',
 '$45,665',
 '$45,760',
 '$45,795',
 '$450,000',
 '$454,000',
 '$454,545,454',
 '$455,555',
 '$455,556',
 '$459,000',
 '$459,500',
 '$46,000',
 '$46,700',
 '$46,800',
 '$460,000',
 '$47,000',
 '$47,131',
 '$47,176',
 '$47,346',
 '$47,500',
 '$47,803',
 '$470,000',
 '$48,000',
 '$48,035',
 '$48,600',
 '$48,922',
 '$480,000,000',
 '$485,000',
 '$487,000',
 '$49,000',
 '$49,444',
 '$49,500',
 '$49,999',
 '$499,999',
 '$5,000',
 '$5,000,000',
 '$5,050',
 '$5,200',
 '$5,350',
 '$5,386',
 '$5,397',
 '$5,484,848',
 '$5,500',
 '$5,522,215',
 '$5,999',
 '$50',
 '$50,000',
 '$50,400',
 '$50,960',
 '$50,999',
 '$500',
 '$500,000',
 '$500,000,000',
 '$500,433',
 '$51,000',
 '$52,000',
 '$52,200',
 '$52,966',
 '$520,000',
 '$525,000',
 '$53,000',
 '$53,470',
 '$53,500',
 '$53,505',
 '$530,000',
 '$54,000',
 '$54,288',
 '$54,345',
 '$54,600',
 '$55,000',
 '$55,009',
 '$55,200',
 '$55,555',
 '$55,556',
 '$55,705',
 '$550',
 '$550,000',
 '$555,555',
 '$56,000',
 '$56,499',
 '$56,555',
 '$56,868',
 '$560',
 '$568,354',
 '$57,000',
 '$57,200',
 '$57,600',
 '$57,780',
 '$575,794',
 '$58,000',
 '$58,650',
 '$58,800',
 '$580',
 '$580,000',
 '$585,000',
 '$59,000',
 '$59,500',
 '$59,552',
 '$59,700',
 '$590,000',
 '$6',
 '$6,000',
 '$6,000,000',
 '$6,071',
 '$6,200',
 '$6,300',
 '$6,500',
 '$6,600',
 '$6,707',
 '$6,780',
 '$6,899',
 '$6,900',
 '$60',
 '$60,000',
 '$60,090',
 '$60,999',
 '$600',
 '$600,000',
 '$61,000',
 '$61,230',
 '$611',
 '$62,000',
 '$62,400',
 '$62,500',
 '$62,600',
 '$625,000',
 '$63,000',
 '$63,200',
 '$63,600',
 '$63,997',
 '$63,998',
 '$636,000',
 '$64,000',
 '$64,800',
 '$65,000',
 '$65,111',
 '$65,800',
 '$650,000',
 '$66,000',
 '$66,566',
 '$666',
 '$67,000',
 '$67,200',
 '$67,500',
 '$675,000',
 '$68',
 '$68,000',
 '$68,964',
 '$69,000',
 '$69,862',
 '$69,988',
 '$7,000',
 '$7,000,000',
 '$7,000,058',
 '$7,200',
 '$7,300',
 '$7,478,550',
 '$7,500',
 '$7,800',
 '$70,000',
 '$70,075',
 '$70,500',
 '$700',
 '$700,000',
 '$700,000,700,000',
 '$708',
 '$71,000',
 '$71,500',
 '$71,641',
 '$710,000',
 '$72,000',
 '$72,400',
 '$72,500',
 '$72,600',
 '$720,000',
 '$73,000',
 '$73,400',
 '$730,000',
 '$735',
 '$735,000',
 '$74',
 '$74,000',
 '$74,500',
 '$74,880',
 '$75,000',
 '$75,600',
 '$75,999',
 '$750',
 '$750,000',
 '$76,000',
 '$765,000',
 '$77,000',
 '$77,020',
 '$77,970',
 '$78,000',
 '$780,000',
 '$789,123',
 '$79,000',
 '$79,100',
 '$79,200',
 '$790,000',
 '$8',
 '$8,000',
 '$8,000,000',
 '$8,050',
 '$8,200',
 '$8,422',
 '$8,500',
 '$8,638',
 '$8,640',
 '$8,687,676,767',
 '$8,888',
 '$8,888,888',
 '$8,990',
 '$80,000',
 '$80,009',
 '$80,500',
 '$80,800',
 '$80,802',
 '$800',
 '$800,000',
 '$800,999',
 '$81,000',
 '$81,600',
 '$815,000',
 '$82,000',
 '$82,500',
 '$82,615',
 '$82,635',
 '$82,800',
 '$83,000',
 '$83,014',
 '$83,200',
 '$83,500',
 '$84,000',
 '$84,801',
 '$840,000',
 '$85,000',
 '$850,000',
 '$86,000',
 '$86,400',
 '$87,000',
 '$87,300',
 '$87,900',
 '$879',
 '$88,000',
 '$88,269',
 '$88,500',
 '$88,969',
 '$888,888',
 '$89,000',
 '$89,205',
 '$890,000',
 '$9,000',
 '$9,100',
 '$9,111',
 '$9,168',
 '$9,235,000',
 '$9,500',
 '$9,560',
 '$9,600',
 '$9,647,000',
 '$90,000',
 '$900',
 '$900,000',
 '$91,000',
 '$91,200',
 '$91,862',
 '$92,000',
 '$92,400',
 '$92,500',
 '$92,514',
 '$92,846',
 '$93,000',
 '$93,500',
 '$93,750',
 '$936,000',
 '$94,000',
 '$94,329',
 '$94,500',
 '$94,608',
 '$95,000',
 '$950,000',
 '$96,000',
 '$96,667',
 '$960',
 '$960,000',
 '$97,000',
 '$97,500',
 '$98,000',
 '$98,500',
 '$99,000',
 '$99,999',
 '$999,999'}

In [ ]:
df_tax["Revenue"]= df_tax["Revenue"].astype(str).str.replace("$", "").str.replace(",", "")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
df_tax["Revenue"] = df_tax["Revenue"].astype(float)

In [ ]:
set(df_tax["Revenue"])

{'114281',
 '144000',
 '462000',
 '775000',
 '65236',
 '12399999',
 '289000',
 '21160',
 '1498',
 '314639',
 '123456',
 '500009',
 '384160',
 '31200',
 '216988',
 '181000',
 '79989',
 '440',
 '0',
 '119995',
 '108000',
 '2146',
 '-5000',
 '9800',
 '88269',
 '138000',
 '44632',
 '205000',
 '152000',
 '23000.00',
 '90677',
 '133333',
 '33280',
 '98860',
 '5522215',
 '324937',
 '1231231',
 '48000',
 '34998',
 '70500',
 '-70000',
 '111600',
 '620000',
 '100003',
 '145500',
 '222',
 '-40000',
 '199845',
 '16000000000',
 '48626',
 '73000',
 '3168',
 '38862',
 '22040',
 '1900000',
 '6000000',
 '44400',
 '179000',
 '411208',
 '93900',
 '75675',
 '251000',
 '295000',
 '29292',
 '225650',
 '2',
 '10005',
 '55600',
 '69982',
 '17500',
 '251041',
 '185000',
 '53000',
 '15984',
 '6155840487',
 '165600',
 '640000',
 '87600',
 '100009',
 '21120',
 '147500',
 '398000',
 '68900',
 '405000',
 '1320',
 '230000.00',
 '128400',
 '120',
 '48100',
 '4996',
 '-300000',
 '92500',
 '90954',
 '10500',
 '7000058',
 '99000',
 '12111',
 '94608',
 '176400',
 '3100',
 '87500',
 '21',
 '65800',
 '1000001',
 '19200',
 '54000',
 '58903',
 '221404',
 '9647000',
 '98500',
 '83014',
 '114900',
 '35000',
 '10',
 '456',
 '42101',
 '1230000',
 '36095',
 '99895',
 '49900',
 '25000',
 '335086',
 '432000',
 '57600',
 '770000',
 '454000',
 '175500',
 '51000',
 '294000',
 '296000',
 '249500',
 '49996',
 '85',
 '234000',
 '1575000',
 '86400',
 '32000',
 '20099',
 '48',
 '000000000',
 '11000',
 '5400',
 '89000',
 '7350000',
 '88009',
 '25500',
 '23323232',
 '223000',
 '2349864',
 '800999',
 '15420000',
 '21815',
 '789455',
 '369000',
 '14025',
 '9100',
 '5541',
 '182000',
 '40000',
 '59999',
 '12600',
 '5555',
 '124800',
 '310000',
 '26431',
 '4715',
 '8025',
 '105450',
 '2400',
 '240000',
 '88500',
 '197000',
 '121443',
 '10002',
 '2580',
 '9104',
 '93500',
 '10015',
 '420000',
 '879',
 '80521',
 '10568',
 '27880',
 '1867276192',
 '324777',
 '8200',
 '65000',
 '80000',
 '220000',
 '315000',
 '20160',
 '126500',
 '59972',
 '1660000',
 '69000',
 '10496',
 '122500',
 '2035',
 '1050',
 '1000',
 '12400',
 '915000',
 '44000',
 '2600',
 '27800',
 '8526',
 '19998',
 '119000',
 '9476600',
 '77970',
 '150000000',
 '90300',
 '11160',
 '119990',
 '300000000',
 '15500',
 '705000',
 '960',
 '2080000',
 '34567788',
 '135800',
 '48035',
 '183',
 '109405',
 '47803',
 '122800',
 '16808',
 '19765',
 '20700',
 '173400',
 '909897',
 '5160',
 '3000003',
 '23400',
 '10200',
 '10923',
 '22',
 '59700',
 '5386',
 '30480',
 '140000',
 '100283',
 '143000',
 '841',
 '160000',
 '20999',
 '134400',
 '-50000',
 '140',
 '234234',
 '1400000',
 '36000000',
 '84801',
 '263000',
 '275',
 '152500',
 '32645',
 '3666778',
 '101500',
 '53900',
 '19645',
 '340000',
 '42640',
 '980000',
 '400003',
 '8001',
 '80600',
 '7800',
 '320',
 '39858',
 '1000000000000',
 '17900',
 '4500000',
 '168000',
 '17',
 '599996',
 '421000',
 '321',
 '133000',
 '112500',
 '236000',
 '42144',
 '24960',
 '71000000',
 '50000000',
 '3500',
 '515000',
 '102000',
 '91862',
 '136000',
 '35780',
 '77020',
 '1280',
 '420',
 '85900',
 '1220000',
 '32400',
 '2087',
 '150001',
 '105600',
 '74880',
 '287000',
 '20680',
 '44997',
 '32564',
 '300240',
 '29201',
 '48000000',
 '475000',
 '546000',
 '1924000',
 '765000',
 '740000',
 '1099999',
 '45900',
 '390000',
 '81383',
 '27647',
 '2056542',
 '126615',
 '45500',
 '1288888',
 '180000',
 '195000',
 '2300000',
 '27900',
 '259000',
 '144300',
 '5500',
 '184000',
 '12233',
 '233448',
 '9917',
 '168047',
 '15250',
 '69988',
 '44600',
 '200',
 '160800',
 '32450',
 '62500',
 '5700',
 '3600',
 '5647558',
 '350',
 '480000000',
 '2017',
 '113132',
 '105762',
 '177000',
 '30240',
 '487000',
 '97900',
 '17863',
 '7983',
 '250001',
 '300880',
 '115200',
 '2019',
 '1783',
 '40800',
 '1050000',
 '-25000',
 '54345',
 '820000',
 '53470',
 '400',
 '29999',
 '50000.00',
 '44999',
 '107613',
 '38645',
 '530000',
 '42600',
 '5996',
 '246000',
 '362000',
 '29035',
 '3150',
 '90000',
 '2000',
 '46380',
 '279248',
 '585270',
 '305000',
 '60400',
 '9235000',
 '22135',
 '2857',
 '352000',
 '30500',
 '94000',
 '888888',
 '156327',
 '65111',
 '196000',
 '9000000',
 '55836',
 '4500',
 '38200',
 '20400',
 '4300',
 '720003',
 '193000',
 '81932',
 '149975',
 '125000',
 '50500',
 '350539',
 '1340',
 '57000',
 '119423',
 '55250',
 '17000000',
 '9200',
 '2022',
 '199999',
 '7691',
 '29998',
 '147000',
 '2700000',
 '100800',
 '128960',
 '6780',
 '167897',
 '1389163',
 '12000000000',
 '4200',
 '415000',
 '36000',
 '99996',
 '7999999',
 '196822',
 '94329',
 '116191',
 '500433',
 '130099',
 '17000',
 '5999999',
 '198411',
 '33000',
 '33600',
 '174996',
 '137500',
 '11400',
 '4999',
 '55000.00',
 '1000020',
 '100010',
 '455555555',
 '1312312312312',
 '150800',
 '56000',
 '273000',
 '22345',
 '300003',
 '190',
 '444',
 '13568',
 '17100',
 '58945',
 '750000',
 '260000',
 '199000',
 '4290',
 '5800',
 '19000',
 '27600',
 '5475555',
 '60090',
 '5882',
 '28300',
 '42736',
 '89797',
 '644',
 '13320',
 '361000',
 '1000000000',
 '100000.00',
 '3113',
 '75999',
 '890000',
 '6600',
 '37500',
 '1085',
 '88808',
 '87000',
 '6590',
 '29997',
 '5000000',
 '242424',
 '246301',
 '117000',
 '1234',
 '2560',
 '209000',
 '213000',
 '90009',
 '126000',
 '392725',
 '15361',
 '7478550',
 '77699',
 '94500',
 '2000000',
 '52500',
 '518388',
 '16000',
 '110250',
 '7920',
 '11217',
 '130000',
 '1823',
 '556',
 '59996',
 '6269919987',
 '20000',
 '319000',
 '1208',
 '99998',
 '25350',
 '135360',
 '134510',
 '680000',
 '4800',
 '2100000',
 '470000',
 '153000',
 '26604',
 '5980',
 '66000',
 '78867',
 '4',
 '189999',
 '63998',
 '14698',
 '159999',
 '1199996',
 '134980',
 '455000',
 '568354',
 '12675',
 '1400',
 '6666779999',
 '975000',
 '200000000',
 '9999',
 '30640',
 '114000',
 '5768',
 '13700',
 '1150000',
 '125',
 '8888',
 '23300',
 '960000',
 '244980',
 '-100000',
 '67000',
 '5484848',
 '578000',
 '62818',
 '730000',
 '422442',
 '19997',
 '82000',
 '936000',
 '8072',
 '1352000',
 '120009',
 '610000',
 '2500000',
 '289560',
 '41850',
 '75500',
 '870000',
 '249000',
 '288000',
 '71641',
 '198765',
 '112000',
 '20274',
 '102152',
 '24400',
 '1112000',
 '74998',
 '85000000',
 '57200',
 '89997',
 '-52664',
 '34560',
 '19900',
 '5567',
 '374400',
 '99972',
 '50400',
 '8990',
 '93772',
 '100000000000',
 '178800',
 '57888888864',
 '40000000',
 '282080',
 '13500',
 '99600',
 '109280',
 '458000',
 '14598',
 '59000',
 '459000',
 '158177',
 '2500001',
 '13276',
 '320000',
 '206000',
 '57500',
 '21500',
 '25014',
 '353000',
 '87900',
 '47346',
 '114300',
 '30000',
 '21600',
 '48922',
 '282000',
 '100250',
 '24500',
 '1490',
 '1241841',
 '10000000',
 '171000',
 '148000',
 '6000',
 '375000',
 '290000',
 '659000',
 '92400',
 '250',
 '264000',
 '600000',
 '10008',
 '8745',
 '35600',
 '96294',
 '79000',
 '109999',
 '245000',
 '140009',
 '2648',
 '1221',
 '30495',
 '400000',
 '97716',
 '15700',
 '4676',
 '12100',
 '125560',
 '192000',
 '1100',
 '3485271',
 '21840',
 '90',
 '70009',
 '11111111',
 '29280',
 '53500',
 '11132',
 '150008',
 '26322',
 '430000',
 '255000',
 '25342',
 '83200',
 '3',
 '6071',
 '52200',
 '3333',
 '1600',
 '1122',
 '15050',
 '9860000',
 '8100',
 '82500',
 '2666885',
 '115000',
 '86250',
 '6666',
 '42450',
 '7500',
 '41676',
 '71514',
 '79100',
 '52800',
 '40235',
 '4200000',
 '43899',
 '284000',
 '2133921212',
 '68380',
 '18675',
 '34200',
 '187253',
 '40',
 '11111',
 '2020',
 '11694',
 '8091',
 '72000',
 '25200',
 '92846',
 '139983',
 '1247870',
 '3700',
 '410',
 '145090',
 '498000',
 '159000',
 '167343',
 '455555',
 '27120',
 '2700027000',
 '371000',
 '8687676767',
 '91200',
 '366000',
 '324000',
 '39999',
 '68964',
 '1198',
 '58000',
 '17994',
 '-10000',
 '32965',
 '276000',
 '58650',
 '72400',
 '100999',
 '123',
 '12800',
 '69600',
 '55200',
 '19500',
 '28688',
 '141854',
 '18464',
 '92528',
 '15800',
 '171594',
 '2985',
 '198000',
 '1450000',
 '348000',
 '6633',
 '49994',
 '2131231',
 '26400',
 '5760',
 '222000',
 '15565',
 '720',
 '329000',
 '46000',
 '313500',
 '57048',
 '33333333',
 '568000',
 '1475',
 '60',
 '30',
 '700000',
 '75600',
 '64000',
 '84837',
 '186000',
 '70199',
 '22884',
 '23988',
 '10230',
 '1800000',
 '811000',
 '495000',
 '6',
 '645645',
 '114800',
 '78997',
 '55556',
 '19670',
 '5623',
 '910000',
 '297000',
 '18700',
 '550000',
 '8000',
 '214000',
 '58829',
 '6899',
 '113000',
 '12880',
 '1399998',
 '2200000',
 '125117',
 '158000',
 '58320',
 '125500',
 '14814',
 '334000',
 '16070',
 '12345',
 '651',
 '21000000',
 '6200',
 '50990',
 '10000',
 '44160',
 '46888',
 '1591',
 '100625',
 '122720',
 '387000',
 '16000000',
 '190825',
 '140400',
 '185500',
 '1900',
 '100008',
 '900000',
 '33500',
 '50200',
 '122222',
 '710000',
 '343000',
 '545329.79',
 '180001',
 '444000',
 '256805',
 '66666',
 '45214',
 '98000',
 '57780',
 '9120',
 '266000',
 '17505',
 '8400',
 '444234223',
 '350010',
 '573500',
 '14635',
 '80500',
 '56769',
 '224000',
 '18575',
 '17800',
 '2100',
 '55000000',
 '9750',
 '11315',
 '343168',
 '308',
 '150420',
 '33',
 '79200',
 '111800',
 '416000',
 '468453145',
 '265000',
 '600500',
 '19862',
 '20',
 '174998',
 '100000',
 '147150',
 '120960',
 '100900',
 '165',
 '64600',
 '222222',
 '18251',
 '2300',
 '485000',
 '88000',
 '1000003',
 '2361',
 '198900',
 '96500',
 '105000',
 '432432432',
 '-8',
 '715000',
 '-2000000',
 '155566',
 '139000',
 '6707',
 '118000',
 '176800',
 '16850',
 '-31',
 '760',
 '128000',
 '46400',
 '325000',
 '10101',
 '35500',
 '25600',
 '2250000',
 '3888000',
 '45600',
 '167000',
 '200001',
 '380000',
 '-2000',
 '292000',
 '146',
 '88888888',
 '57616',
 '65008',
 '50960',
 '175355',
 '88400',
 '9214',
 '580000',
 '7000',
 '660',
 '18495',
 '268000',
 '18485366',
 '812000000',
 '128698',
 '18888',
 '74000',
 '67892',
 '-15000',
 '196703',
 '115477',
 '15400',
 '12364',
 '795000',
 '4400',
 '55350',
 '250000000000',
 '200220',
 '127200',
 '8050',
 '23000',
 '70000000',
 '1136328',
 '80000000',
 '63000',
 '760000',
 '14150',
 '43243253',
 '10332',
 '1111',
 '25688',
 '39125',
 '163800',
 '11493',
 '41600',
 '46933',
 '425000',
 '456000',
 '73500',
 '395000',
 '173000',
 '125934',
 '170000',
 '21680',
 '110000000',
 '210000',
 '194000',
 '107213',
 '66500',
 '35019',
 '15227',
 '800000',
 '18999',
 '440000',
 '-9',
 '625000',
 '225000',
 '181500',
 '510000',
 '24550',
 '122750',
 '850000',
 '109000',
 '11500',
 '285000',
 '135528',
 '38379',
 '26880',
 '272000',
 '80009',
 '237500',
 '9097566255',
 '49500',
 '1234567',
 '158500',
 '129000',
 '11040',
 ...}

In [ ]:
set(df_tax["Tc State"])

{'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Fujian',
 'Georgia',
 'Gujarat',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'Washington, D.C.',
 'West Virginia',
 'Wisconsin',
 'Wyoming'}

In [ ]:
df_tax["Revenue"]

0         45000.0
1        225000.0
2         25000.0
3         40000.0
4         25000.0
           ...
98523    100000.0
98525     45000.0
98526    150000.0
98527    250000.0
98529    250000.0
Name: Revenue, Length: 85304, dtype: float64

In [ ]:
df_tax.drop(df_tax[df_tax["Tc State"] == "---"].index, inplace = True)

In [ ]:
df_tax.drop(df_tax[df_tax["Tc State"] == 'select one'].index, inplace = True)

In [ ]:
df_tax.drop(df_tax[df_tax["Tc State"] == 'XSS'].index, inplace = True)

In [ ]:
df_tax.drop(df_tax[df_tax["Tc State"] == '. '].index, inplace = True)

In [ ]:
df_tax["Tc State"]= df_tax["Tc State"].str.replace("Texas ", "Texas")

In [ ]:
df_tax["Tc State"]= df_tax["Tc State"].str.replace("+"," ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
df_tax["Tc State"]= df_tax["Tc State"].str.replace("california","California")

In [ ]:
df_tax["Tc State"]= df_tax["Tc State"].str.replace("CA","California")

In [ ]:
df_tax["Tc State"]= df_tax["Tc State"].str.replace("Illnois","Illinois")

In [ ]:
set(df_tax["Tc Incorporation"])

{'LLC',
 'MMLLC',
 'SMLLC',
 'SP',
 'other',
 'scorp',
 'scorp-ccorp',
 'scorp-mmllc',
 'scorp-scorp',
 'scorp-smllc'}

In [ ]:
df_tax.drop(df_tax[df_tax["Tc Incorporation"] == '---'].index, inplace = True)

In [ ]:
df_tax.drop(df_tax[df_tax["Tc Incorporation"] == 'Select entity type'].index, inplace = True)

In [ ]:
#Check service
set(df_tax["Tc Services Type"])

{'---',
 '50000',
 'any-service-works',
 'appraiser',
 'coaching-consulting',
 'design',
 'home-inspector',
 'other',
 'real-estate-agent',
 'sales-marketing-business-development',
 'select your service',
 'software-development',
 'testing',
 'videography'}

In [ ]:
#Drop service =50000
df_tax.drop(df_tax[df_tax["Tc Services Type"]== '50000'].index, inplace = True)
set(df_tax["Tc Services Type"])

{'---',
 'any-service-works',
 'appraiser',
 'coaching-consulting',
 'design',
 'home-inspector',
 'other',
 'real-estate-agent',
 'sales-marketing-business-development',
 'select your service',
 'software-development',
 'testing',
 'videography'}

In [ ]:
#df_tax[df_tax["Tc Services Type"] == 'select your service']

In [ ]:
set(df_tax["Eligibility"])

{'---', 'pre-eligible', 'pre-noneligible'}

In [ ]:
set(df_tax["Q Re Eligibility"])

{'---', 'pro-eligible', 'pro-noneligible'}

In [ ]:
df_tax.head(2)

       ID  ...        Date
0  100089  ...  2022-01-28
1  100088  ...  2022-01-28

[2 rows x 68 columns]

In [ ]:
#set(df_tax[df_tax["Eligibility"]=="pre-eligible"][df_tax["Q Re Eligibility"] == "pro-eligible" ]["Revenue"])

In [ ]:
# Clean email 
df_tax.drop(df_tax[df_tax["Tc Email"]=="%@hyke%"].index, inplace = True)
df_tax.drop(df_tax[df_tax["Tc Email"]=="jacobfrediani@gmail.com"].index, inplace = True)
df_tax.drop(df_tax[df_tax["Tc Email"]=="elon@tesla.com"].index, inplace = True)
df_tax.drop(df_tax[df_tax["Tc Email"]=="elon@gmail.com"].index, inplace = True)
df_tax.drop(df_tax[df_tax["Tc Email"]=="rezenbiz@gmail.com"].index, inplace = True)
df_tax.drop(df_tax[df_tax["Tc Email"]=="elon@elon.com"].index, inplace = True)
df_tax.drop(df_tax[df_tax["Tc Email"]=='---' ].index, inplace = True)
df_tax.drop(df_tax[df_tax['Tc Email'].str.contains("@collective.com")].index, inplace = True)
df_tax.drop(df_tax[df_tax['Tc Email'].str.contains("@test.com")].index, inplace = True)
#df_tax[df_tax['Tc Email'].str.contains("@")==0]

In [ ]:
df_tax.head(2)

       ID  ...        Date
0  100089  ...  2022-01-28
1  100088  ...  2022-01-28

[2 rows x 68 columns]

In [ ]:
set(df_tax["Utm Source"])

{'---',
 'Ashley_Hogrebe',
 'BDR',
 'BetterWallet',
 'Bunker',
 'CURRENT MEMBERS',
 'Ceci Marshall',
 'Collective',
 'Create and Cultivate',
 'Danekia',
 'Delyanne',
 'Duke',
 'Dustin-Talley',
 'Facebook',
 'FinConAffiliates',
 'FreelancingFemales',
 'Google',
 'GrowthCollective',
 'Gusto',
 'Instagram',
 'Jessica Blankenship',
 'Josh-Curtis',
 'Kesha-JonTae',
 'Lindsay-Thomson',
 'LinkedIn',
 'Lumanu',
 'Mane-Influencer',
 'Marketerhire',
 'Millo Newsletter',
 'Morgan-Overholt',
 'NAWBO',
 'Nathalia-Ramos',
 'Nikki Venus',
 'Oanh Nhi',
 'PEA',
 'Patreon',
 'Paul Fisherman',
 'RaisinBread',
 'SEM',
 'Tasha-Jones',
 'Tiffani-Purdy',
 'TikTok',
 'Twine Users',
 'Tyrone-Marshall-Jr',
 'Vanader',
 'Wethos',
 "['Collective', 'Collective']",
 "['Marketerhire', 'hs_automation']",
 'adwords',
 'hs_automation',
 'hs_email'}

In [ ]:
df_tax["Utm Source"]= df_tax["Utm Source"].str.replace("Create-and-Cultivate","Create and Cultivate")

In [ ]:
df_tax["Utm Source"]= df_tax["Utm Source"].str.replace("collective","Collective")

In [ ]:
df_tax["Utm Source"]= df_tax["Utm Source"].str.replace("tiktok","TikTok")

In [ ]:
df_tax["Utm Source"]= df_tax["Utm Source"].str.replace("facebook","Facebook")

In [ ]:
df_tax["Utm Source"]= df_tax["Utm Source"].str.replace("google","Google")

In [ ]:
df_tax["Utm Source"]= df_tax["Utm Source"].str.replace("Mane","Mane-Influencer")

In [ ]:
df_tax["Utm Source"]= df_tax["Utm Source"].str.replace("Mane-Influencer-Influencer","Mane-Influencer")

In [ ]:
df_tax["Date"]=pd.to_datetime(df_tax['Date'])

In [ ]:
df = df_tax.loc[:,["ID","Date","Tc Email","Eligibility","Q Re Eligibility","Revenue","Tc State","Tc Incorporation","Tc Services Type",\
              "Tc Pro License","Tc Resident","Tc Same State","Tc Tangible Goods","Tc Financial Assets","Tc Assets Over Worth","Utm Source"]]
df=df.reset_index(drop=True)
df

           ID       Date  ... Tc Assets Over Worth  Utm Source
0      100089 2022-01-28  ...                  NaN         ---
1      100088 2022-01-28  ...                  NaN      Google
2      100087 2022-01-28  ...                  NaN  Collective
3      100086 2022-01-28  ...                  NaN      TikTok
4      100085 2022-01-28  ...                  NaN      Google
...       ...        ...  ...                  ...         ...
55185     107 2018-11-27  ...                  ---         ---
55186      78 2018-11-23  ...                  ---         ---
55187      76 2018-11-22  ...                  ---         ---
55188      73 2018-11-22  ...                  ---         ---
55189      63 2018-11-20  ...                  ---         ---

[55190 rows x 16 columns]

In [ ]:
df.to_excel("/content/gdrive/My Drive/Collective/collective_2_27_2022.xlsx")